<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Greetings | Madlibs!</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body>
    <h1>Here is the game</h1>

        <form action="/madlib">

            <label for="person-input">Name</label>
            <input type="text" name="person" id="person-input"/>

            <label for="color-input">Color</label>
            <input type="text" name="color" id="color-input"/>

            <label for="noun-input">Noun</label>
            <input type="text" name="noun" id="noun-input"/>

            <label for="adjective-input">Adjective</label>
            <input type="text" name="adjective" id="adjective-input"/>
            
            <button type="submit">Submit</button>    
        </form>
  </body>

</html>